html, body {
    background-color: #000;
    height: calc(100vh - 70px);
}

.player {
    height: calc(100vh - 70px);
}

video {
    max-height: calc(100vh - 70px);
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.m-1 {
    margin: 0.25em !important;
}
.m-2 {
    margin: 0.5em !important;
}
.m-3 {
    margin: 1em !important;
}
.m-4 {
    margin: 1.5em !important;
}
.m-5 {
    margin: 3em !important;
}


.ms-1 {
    margin-left: 0.25em !important;
}
.ms-2 {
    margin-left: 0.5em !important;
}
.ms-3 {
    margin-left: 1em !important;
}
.ms-4 {
    margin-left: 1.5em !important;
}
.ms-5 {
    margin-left: 3em !important;
}


.me-1 {
    margin-right: 0.25em !important;
}
.me-2 {
    margin-right: 0.5em !important;
}
.me-3 {
    margin-right: 1em !important;
}
.me-4 {
    margin-right: 1.5em !important;
}
.me-5 {
    margin-right: 3em !important;
}


.mx-1 {
    margin-left: 0.25em !important;
    margin-right: 0.25em !important;
}
.mx-2 {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
}
.mx-3 {
    margin-left: 1em !important;
    margin-right: 1em !important;
}
.mx-4 {
    margin-left: 1.5em !important;
    margin-right: 1.5em !important;
}
.mx-5 {
    margin-left: 3em !important;
    margin-right: 3em !important;
}


.mt-1 {
    margin-top: 0.25em !important;
}
.mt-2 {
    margin-top: 0.5em !important;
}
.mt-3 {
    margin-top: 1em !important;
}
.mt-4 {
    margin-top: 1.5em !important;
}
.mt-5 {
    margin-top: 3em !important;
}


.mb-1 {
    margin-bottom: 0.25em !important;
}
.mb-2 {
    margin-bottom: 0.5em !important;
}
.mb-3 {
    margin-bottom: 1em !important;
}
.mb-4 {
    margin-bottom: 1.5em !important;
}
.mb-5 {
    margin-bottom: 3em !important;
}


.my-1 {
    margin-top: 0.25em !important;
    margin-bottom: 0.25em !important;
}
.my-2 {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}
.my-3 {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.my-4 {
    margin-top: 1.5em !important;
    margin-bottom: 1.5em !important;
}
.my-5 {
    margin-top: 3em !important;
    margin-bottom: 3em !important;
}

.p-1 {
    padding: 0.25em !important;
}
.p-2 {
    padding: 0.5em !important;
}
.p-3 {
    padding: 1em !important;
}
.p-4 {
    padding: 1.5em !important;
}
.p-5 {
    padding: 3em !important;
}


.ps-1 {
    padding-left: 0.25em !important;
}
.ps-2 {
    padding-left: 0.5em !important;
}
.ps-3 {
    padding-left: 1em !important;
}
.ps-4 {
    padding-left: 1.5em !important;
}
.ps-5 {
    padding-left: 3em !important;
}


.pe-1 {
    padding-right: 0.25em !important;
}
.pe-2 {
    padding-right: 0.5em !important;
}
.pe-3 {
    padding-right: 1em !important;
}
.pe-4 {
    padding-right: 1.5em !important;
}
.pe-5 {
    padding-right: 3em !important;
}


.px-1 {
    padding-left: 0.25em !important;
    padding-right: 0.25em !important;
}
.px-2 {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}
.px-3 {
    padding-left: 1em !important;
    padding-right: 1em !important;
}
.px-4 {
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
}
.px-5 {
    padding-left: 3em !important;
    padding-right: 3em !important;
}


.pt-1 {
    padding-top: 0.25em !important;
}
.pt-2 {
    padding-top: 0.5em !important;
}
.pt-3 {
    padding-top: 1em !important;
}
.pt-4 {
    padding-top: 1.5em !important;
}
.pt-5 {
    padding-top: 3em !important;
}


.pb-1 {
    padding-bottom: 0.25em !important;
}
.pb-2 {
    padding-bottom: 0.5em !important;
}
.pb-3 {
    padding-bottom: 1em !important;
}
.pb-4 {
    padding-bottom: 1.5em !important;
}
.pb-5 {
    padding-bottom: 3em !important;
}


.py-1 {
    padding-top: 0.25em !important;
    padding-bottom: 0.25em !important;
}
.py-2 {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.py-3 {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.py-4 {
    padding-top: 1.5em !important;
    padding-bottom: 1.5em !important;
}
.py-5 {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
